body {
  font-family: sans-serif;
}
.wiki-item {
  background-color: rgb(255, 255, 255);
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0px 0px 8px 5px rgb(185, 189, 192);
}

.wiki-header {
  text-transform: capitalize;
  text-align: center;
}
.wiki-img {
  width: 100%;
}

.wiki-content {
  padding: 7px;
}

@media (min-width: 600px) {
  .wiki-content {
    display: flex;
    flex-flow: row-reverse;
  }
  .wiki-text,
  .img-container {
    min-width: 50%;
    max-width: 50%;
  }
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}
